# No .NET Core 3.0, você pode usar o comando: `dotnet new gitignore` para gerar um arquivo .gitignore personalizável

* .swp
* . * ~
project.lock.json
.DS_Store
* .pyc

# Código Visual Studio
.vscode

# Arquivos específicos do usuário
* .suo
* .user
* .userosscache
* .sln.docstates

# Build results
[ Dd ] ebug /
[ Dd ] ebugPublic /
[ Rr ] elease /
[ Rr ] eleases /
x64 /
x86 /
construir /
bld /
[ Bb ] em /
[ Oo ] bj /
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs /